body{
    margin-left: auto;
    margin-right: auto;
}
.mainphoto{
    
    width: 100%;
    height: 877px;
   
    margin-top: 10px;;
  
}
.icon-home{
    width: 60px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    float: left;
    margin-top:10px;
}
.offcanvas-body{
    background-color: #414141;
    color: white;
    font-size: 25px;
    text-align: center;
    padding-top: 60px;
}

.offcanvas{
 background-color: #414141;
}
a.nav-link{
    color:white;
    padding-top:40px;
    transition: transform 0,5s ease-in-out;
}
a.nav-link:hover{
    color:rgb(153, 153, 153);
    font-size: 120%;
    transform: scale(1.1);
}
button.btn-close{  
    padding-left: 140px;; 
}
.navbar-brand{
    color:black;
    margin-left: auto;
    margin-right: auto;
    
}
.navbar-brand:hover{
    color:#414141;
}
h1{
    font-size: 28px;
    float: left;
    margin-top: 25px;
    margin-right: 6px;
}
.icon-menu:hover{
    transform: scale(1.3);
}

.icon-menu{
    height: 30px;
    width: 40px;
    transition: transform 1s ease-in-out
}

.phone{
   margin-top:25px;
   width: 35px;;
}
.number{
    font-size: 18px;;
    margin-top: 25px;
    font-weight: 400;
}
.navbar{
    background-color:white;
}
.about-page{
    position:relative
}
.rectangle-white-about{
    position: absolute;
    width: 854px;
    height: 189px;
    left: 550px;
    top: 400px;
    background-color: white;
}
.h2about-white{
   margin-top:40px;
    font-family: 'Courier Prime'monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 101px;
    text-align: center;
    color: #414141;
}












.allproject{
    margin-top:300px;
    width: 100%;
    
}
.photo-house-1{
    float:left;
    width:387.5;
    height:300px;
    margin-left: 146px;
 
}

.photo1:hover {
    transform: scale(1.15);
    overflow: hidden;
}
.photo1{
    width:377px;
    height:300px;
    overflow: hidden;
    transition: all 0.5s ease-in-out
}
.photo-house-2{
    float:left;
    width:387.5;
    height:300px;
    
    margin-left: 30px;;
}
.photo-house-3{
    float:left;
    width:387.5;
    height:300px;
   
    margin-left: 30px;;
}
.photo-house-4{
    float:left;
    width:387.5;
    height:300px;
    
    margin-left: 30px;;
    
}
.photo2:hover {
    transform: scale(1.15);
    overflow: hidden;
}
.photo2{
    width:377px;
    height:300px;
    overflow: hidden;
    transition: all 0.5s ease-in-out
}
.photo3:hover {
    transform: scale(1.15);
    overflow: hidden;
}
.photo3{
    width:377px;
    height:300px;
    overflow: hidden;
    transition: all 0.5s ease-in-out
}
.photo4:hover {
    transform: scale(1.15);
    overflow: hidden;
}
.photo4{
    width:377px;
    height:300px;
    overflow: hidden;
    transition: all 0.5s ease-in-out
}

.photo-house-5{
    float:left;
    width:387.5;
    height:300px;
    
    margin-left: 146px;
    margin-top: 30px;;

}
.photo-house-6{
    float:left;
    width:387.5;
    height:300px;
    
    margin-left: 30px;;
    margin-top: 30px;;

}
.photo-house-7{
    float:left;
    width:387.5;
    height:300px;
    
    margin-left: 30px;;
    margin-top: 30px;;
}
.photo-house-8{
    float:left;
    width:387.5;
    height:300px;
    
    margin-left: 30px;
    margin-top: 30px;;
}
.photo5:hover {
    transform: scale(1.15);
    overflow: hidden;
}
.photo5{
    width:377px;
    height:300px;
    overflow: hidden;
    transition: all 0.5s ease-in-out
}
.photo6:hover {
    transform: scale(1.15);
    overflow: hidden;
}
.photo6{
    width:377px;
    height:300px;
    overflow: hidden;
    transition: all 0.5s ease-in-out
}
.photo7:hover {
    transform: scale(1.15);
    overflow: hidden;
}
.photo7{
    width:377px;
    height:300px;
    overflow: hidden;
    transition: all 0.5s ease-in-out
}
.photo8:hover {
    transform: scale(1.15);
    overflow: hidden;
}
.photo8{
    width:377px;
    height:300px;
    overflow: hidden;
    transition: all 0.5s ease-in-out
    
}


.photo-house-9{
    float:left;
    width:387.5;
    height:300px;
    
    margin-left: 146px;
    margin-top: 30px;;
}
.photo-house-10{
    float:left;
    width:387.5;
    height:300px;
    
    margin-left: 30px;;
    margin-top: 30px;;
}
.photo-house-11{
    float:left;
    width:387.5;
    height:300px;
    
    margin-left: 30px;;
    margin-top: 30px;;
}
.photo-house-12{
    float:left;
    width:387.5;
    height:300px;
    
    margin-left: 30px;
    margin-top: 30px;;
}
.photo9:hover {
    transform: scale(1.15);
    overflow: hidden;
}
.photo9{
    width:377px;
    height:300px;
    overflow: hidden;
    transition: all 0.5s ease-in-out
}
.photo10:hover {
    transform: scale(1.15);
    overflow: hidden;
}
.photo10{
    width:377px;
    height:300px;
    overflow: hidden;
    transition: all 0.5s ease-in-out
}
.photo11:hover {
    transform: scale(1.15);
    overflow: hidden;
}

.photo11{
    width:377px;
    height:300px;
    overflow: hidden;
    transition: all 0.5s ease-in-out
}
.photo12:hover {
    transform: scale(1.15);
    overflow: hidden;
}
.photo12{
    width:377px;
    height:300px;

    overflow: hidden;
    transition: all 0.5s ease-in-out
}
.photo13:hover {
    transform: scale(1.15);
    overflow: hidden;
}
.photo-house-13{
    float:left;
    width:387.5;
    height:300px;

    margin-left: 146px;
    margin-top: 30px;;
}
.photo14:hover {
    transform: scale(1.15);
    overflow: hidden;
}
.photo-house-14{
    float:left;
    width:387.5;
    height:300px;
    
    margin-left: 30px;;
    margin-top: 30px;;
}
.photo15:hover {
    transform: scale(1.15);
    overflow: hidden;
}
.photo-house-15{
    float:left;
    width:387.5;
    height:300px;
   
    margin-left: 30px;;
    margin-top: 30px;;
}
.photo16:hover {
    transform: scale(1.15);
    overflow: hidden;
}
.photo-house-16{
    float:left;
    width:387.5;
    height:300px;
    
    margin-left: 30px;
    margin-top: 30px;;
}
.photo13{
    width:377px;
    height:300px;
    overflow: hidden;
    transition: all 0.5s ease-in-out
}
.photo14{
    width:377px;
    height:300px;
    overflow: hidden;
    transition: all 0.5s ease-in-out
}
.photo15{
    width:377px;
    height:300px;
    overflow: hidden;
    transition: all 0.5s ease-in-out
}
.photo16{
    width:377px;
    height:300px;
    overflow: hidden;
    transition: all 0.5s ease-in-out
}





.rectangle-foot{
    width: 100%;
    height:448px;
    background-color: #414141;
    margin-top: 230px;
}
.rectangle-foot-img{
    width: 100%;
    height:448px;
}
.img-foot{
    width: 100%;
    height:448px;
    opacity: 0.2;
    
}
.left-rectangle-foot{
    float: left;
    width: 700px;
    height: 448px;
    background: rgba(65, 65, 68, 0.8);
    
    
}
.text-left-rectangle{
    color: white;
    text-align: center;
    margin-top: 150px;
    font-size: 75px;
}

.middle-rectangle-foot{
    float: left;
    width: 750px;
    height: 448px;
    
    
}
.left-middle-right-rectangle{
    width: 100%;
    height: 448px;
    position: absolute;
    bottom:0px;

}

.location-icon-foot{
    width: 90px;
    height: 80px;
    margin-left: 350px;
    margin-top: 60px;
    
    
   
}
.text-location-foot{
    font-family: 'Raleway'sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    padding-left: 15px;
    color: #ffffff;
    margin-top: 60px;
    
}
.icon-location-foot{
    float: left;
   
}
.address-foot{
    float:left;
    
}
.icon-phone-foot{
    float:left;
}

.number-foot{
    float:left;
}
.phone-call-icon-foot{
    width: 65px;
    height: 65px;
    margin-left: 365px;
    margin-top: 30px;
    
}
.text-number-foot{
    font-family: 'Raleway'sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    padding-left: 15px;
    color: #ffffff;
    margin-top: 35px;
    
}
.icon-mail-foot{
    float:left;
}
.email-icon-foot{
    width: 65px;
    height: 65px;
    margin-left: 365px;
    margin-top: 30px;
   
}

.text-mail-foot{
    font-family: 'Raleway'sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    padding-left: 15px;
    color: #ffffff;
    margin-top: 45px;
    
}
.address-email-foot{
    float:left;
}

.right-rectangle-foot{
    float: left;
    height: 448px;
}
.icon-foot{
    margin-left: 150px;
    margin-top: 380px;
}
.instagram-foot{
    margin-left:25px;
}

